<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083496841857-g4f5c8ihm2eddtkfp6f0i0pe9vlmpbmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083496841857-g4f5c8ihm2eddtkfp6f0i0pe9vlmpbmb</string>
	<key>API_KEY</key>
	<string>AIzaSyD15Gx8MTIJbJqQwdM6R5IykvqU1nOvFAk</string>
	<key>GCM_SENDER_ID</key>
	<string>1083496841857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeworks</string>
	<key>PROJECT_ID</key>
	<string>codeworks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>codeworks-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083496841857:ios:315129dc99e3f85de10380</string>
</dict>
</plist>